doctype html

html(lang="en")

    head
        title Swing Soccer
        canvas
    body
        script(src="pixi.min.js")
        script(src="keycodes.js")
        script(src="ropevector.js")
        script(src="rope.js")
        script(src="basic.js")
